.MuiButtonBase-root svg {
    fill: white;
    padding: 3px;
}

.MuiBottomNavigation-root .Mui-selected {
    background-color: white;
    padding: 3px;
}

.MuiBottomNavigation-root .Mui-selected svg {
    fill: #2F64F9;
    padding: 3px;
}