@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  background-color: #fffffe;
  box-shadow: 1px 1px 30px -10px rgba(109, 109, 109, 1);
  -webkit-box-shadow: 1px 1px 30px -10px rgba(109, 109, 109, 1);
  -moz-box-shadow: 1px 1px 30px -10px rgba(109, 109, 109, 1);
  height: 100vh;
  font-family: 'Roboto';
  padding-top: 20px;
}

.search-section {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px 0px 10px 20px;
  margin: 0px 50px 0px 50px;
  border-radius: 30px;
  box-shadow: 1px 1px 30px -1px rgba(109, 109, 109, 0.5);
  -webkit-box-shadow: 1px 1px 30px -1px rgba(109, 109, 109, 0.5);
  -moz-box-shadow: 1px 1px 30px -1px rgba(109, 109, 109, 0.5);
}

.search-section a {
  text-decoration: none;
  color: #5f6c7b;
  font-size: 14px;
}